

body {
    margin: 0 auto;
    padding: 2em;
    font-family:monospace;
    background-color: #2c2c2c;
}

.main-container {
    display: flex;
    flex-direction:column;
}

img {
    border-radius:8px;
    max-width: 90%;
}

.case-study-card {
    background-image:#f8fafc;
    display: flex;
    flex-direction:column;
    align-items:center;
    margin-bottom:2em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 4em;
    padding-bottom: 1em;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 .30rem .75rem #000000c9!important;
    transition: background-image 0.6s ease-in-out;
}

.purple-hover:hover {
    background-image: linear-gradient(to bottom,#1f1f1f,#ff181800);
}

.pink-hover:hover {
    background-image: linear-gradient(to bottom,#1f1f1f,#ff181800);
}

.introduction-heading{
    color: white;
    font-size: 1.9em;
    font-weight: 700;
    margin-bottom: 0.8em;
    margin-top: 7em;
}

.introduction-text {
    color: white;
    font-size: 1.2em;
    margin-bottom: 2em;
}

.left-section {
    border-radius: 20px;
}

.case-study-heading {
    font-size: 2.2em;
    font-weight:600;
    margin-bottom: 0.4em;
}

.case-study-subheading {
    font-size: 1.1em;
}

a {
    color:rgb(255, 255, 255);
    text-decoration:none;
}

@media (min-width: 1024px) {

    body {
        max-width: 1200px;
    }

    .main-container {
        flex-direction:row;
        gap: 2em;
    }

    .case-study-row {
        display:flex;
        flex-direction:row;
        gap: 2em;
    }

    .left-section {
        width:30%;
    }

    .right-section {
        width: 70%;
    }

    .one-card {
        flex-direction: row-reverse;
        text-align:left;
    }

    .one-card .image-container {
        width:90%;
    }

    .one-card .case-study-text {
        margin-right: auto;
    }

    .width-100 {
        width: 100%;
    }

    .case-study-text {
        max-width: 50%;
    }
    
    .width-50 {
        width: 50%;
        max-width:50%;
    }

    .multiple-cards .image-container {
        height: 12em;
        margin-bottom: 1.2em;
    }

    .multiple-cards img {
        height: 100%;
    }

    .multiple-cards .case-study-subheading {
        height:2em;
        margin-bottom: 0.2em;
    }

    .multiple-cards {
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 1.4em;
        padding-bottom: 1.4em;
    }
}