

body {
    margin: 0 auto;
    padding: 2em;
    font-family:monospace;
    background-color: #2c2c2c;
}

#Profile{
    border-radius: 10px;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    min-height: 100vh;
    margin: 0 auto;
}

img {
    border-radius:8px;
    max-width: 100%;
}


.sub-sections-card {
    background-image: linear-gradient(to bottom,#181818,#181818);
    display: flex;
    flex-direction:column;
    align-items:center;
    margin-bottom:2em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 4em;
    box-shadow: 0 rem 0rem #00000000;
    padding-bottom: 1em;
    border-radius: 20px;
    text-align: center;
    transition: box-shadow 0.2s ease-in-out;
}

.purple-hover:hover {
    box-shadow: 0 .30rem .75rem #000000e7;
}

.pink-hover:hover {
    box-shadow: 0 .30rem .75rem #000000e7;
}

.introduction-heading{
    flex: auto;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 1.2em;
}

.introduction-text {
    color: white;
    font-size: 1.2em;

}

.left-section {
    border-radius: 20px;
    margin-right: 2vw;
}

.sub-sections-heading {
    font-size: 2.2em;
    font-weight:600;
    margin-bottom: 0.4em;
}

.sub-sections-subheading {
    font-size: 1.1em;
}

a {
    color:rgb(255, 255, 255);
    text-decoration:none;
}

@media (min-width: 1024px) {

    body {
        max-width: 1200px;
    }

    .sub-sections-row {
        display:flex;
        flex-direction:row;
        gap: 2em;
    }

    .left-section {
        width:30%;
    }

    .right-section {
        width: 70%;
    }

    .one-card {
        flex-direction: row-reverse;
        text-align:left;
    }

    .one-card .image-container {
        width:90%;
    }

    .one-card .sub-sections-text {
        margin-right: auto;
    }

    .width-100 {
        width: 100%;
    }

    .sub-sections-text {
        max-width: 50%;
    }
    
    .width-50 {
        width: 50%;
        max-width:50%;
    }

    .multiple-cards .image-container {
        height: 12em;
        margin-bottom: 1.2em;
    }

    .multiple-cards img {
        height: 100%;
    }

    .multiple-cards .sub-sections-subheading {
        height:2em;
        margin-bottom: 0.2em;
    }

    .multiple-cards {
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 1.4em;
        padding-bottom: 1.4em;
    }
}