.sub-sections-text {
    color: white;
    font-size: 1.1em;
    margin-bottom: 1em;
}

.sub-sections-text-black {
    color: white;
    font-size: 1.1em;
    margin-bottom: 1em;
}


 .section{
    background-color: #00000075;
    border-radius: 10px;
    box-shadow: 4px 4px 1.25rem #00000073;
    padding: 1.2em;
    margin: 1vw;
    margin-top: 3em;

}  

h2{
    color: white;
    font-size: 1.75em;
}

h1 {
    color: white;
    margin-top: 1em;
    font-size: 3em;
}

.go-back-nav:hover {
    text-decoration: underline;
}
.go-back-nav{
    color: white;
    font-size: 1.5em;
}

.image-container {
    width: 100%;
    padding-top: 4em;
    padding-bottom: 3em;
}

img {
    width: 100%;
}

.multiple-images-container{
    display: flex;
    flex-direction: column;
    gap: 4em;
    padding-top: 4em;
    padding-bottom: 3em;
}

.multiple-images-container .image-container {
    padding-top: 0;
    padding-bottom: 0;
}

.padding-bottom {
    padding-bottom: 6em;
}

.text-container {
    max-width: 1024px;
    margin: 0 auto;
}

.align-with-text {
    max-width: 1024px;
    margin: 0 auto;
}


@media (min-width: 1024px) {
    .multiple-images-container {
        display: flex;
        flex-direction: row;
        gap: 4em;
        margin-bottom: 3em;
        padding-top: 0;
        padding-bottom: 0;
    }

    .multiple-images-container .image-container {
        padding-top: 3em;
    }

    .image-container{
        padding-bottom: 2em;
    }
}